In [23]:
import numpy as np
import pandas as pd
def df(x):
    return pd.DataFrame(x).round(2)

### (1.1) (1.2)

In [24]:
m, n = 3, 4
A = np.random.random(size=(m, n))
df(A)

      0     1     2     3
0  0.42  0.11  0.23  0.18
1  0.95  0.32  0.46  0.86
2  0.20  0.73  0.72  0.11

In [ ]:
x = np.random.random(size=(n, 1))
df(x)

#### (1.1)(a)

In [41]:
b = np.zeros(shape=(m, 1))
for i in range(m):
    for j in range(n):
        b[i] += A[i, j] * x[j]
        
np.allclose(A @ x, b)

True

#### (1.1)(b)

In [42]:
b = np.zeros(shape=(m, 1))
for i in range(m):
    b[i] = A[i] @ x
        
np.allclose(A @ x, b)

True

#### (1.2)

In [37]:
b = np.zeros(shape=(m, 1))
for j in range(n):
    b += A[:, [j]] * x[j]

np.allclose(A @ x, b)

True

### (1.5) (1.6)

In [44]:
l, m, n = 3, 5, 4
A = np.random.random((l, m))
C = np.random.random((m, n))

#### (1.5) (a)

In [47]:
B = np.zeros((l, n))
for i in range(l):
    for j in range(n):
        for k in range(m):
            B[i, j] += A[i, k] * C[k, j]
np.allclose(A @ C, B)

True

#### (1.5) (b)

In [48]:
B = np.zeros((l, n))
for i in range(l):
    for j in range(n):
        B[i, j] = A[i, :] @ C[:, j]
np.allclose(A @ C, B)

True

#### (1.6)(a)

In [54]:
B = np.zeros((l, n))
for j in range(n):
    for k in range(m):
        B[:, j] += A[:, k] * C[k, j]
        
np.allclose(A @ C, B)

True

#### (1.6)(b)

In [55]:
B = np.zeros((l, n))
for j in range(n):
    B[:, j] = A @ C[:, j]
np.allclose(A @ C, B)

True